body{
	background-color: white;
	width: 180px;
	color: black;
	text-align: left;
}
h2{
	text-align: center;
	margin-bottom: 0px;
}
hr{
	border: 0.3px solid black;
}

img{
	margin-left: 10px;
}

span{
	font-weight: bolder;
}

#footer{
	font-size: 10px;
	text-align: center;
}

#footer i{
	color: #a31010;
}